h1{
    text-align: center;
    color: rgb(102, 146, 227);
    font-weight: bold;
}
body{
   
    background-image: url('https://raw.githubusercontent.com/Mercywairimu01/News_today/main/app/static/images/bg.jpg');
}
.container{
    height: 100%;
    background-color: rgb(247, 253, 253);
}
#source{
 height: 270px;
 overflow-y: scroll;
}
#headline{
    height: 550px;
    overflow-y: scroll;
}
.navbar{
    background-color: rgb(219, 243, 248);
}