h1{
    text-align: center;
    color: rgb(102, 146, 227);
    font-weight: bold;
}

#qq{
    height: 100%;
    background-color: rgb(247, 253, 253)!important;
}
#source{
 height: 270px;
 overflow-y: scroll;
}
#headline{
    height: 550px;
    overflow-y: scroll;
}
.navbar{
    background-color: rgb(219, 243, 248);
}