

<h1>articles</h1>
 <ul>
    {% for article in articles%}
    
    <h3>{{article.author}}</h3>
    <p>{{article.title}}</p>
     <img src="{{article.urlToImage}}" alt="" height="200" width="150" >
    <p></p>
     <p>{{article.description}}</p>
     {% endfor %}
    </ul>

<h3>news</h3>
<ul>
    {% for news in news %}
        <li>{{ news.name}}</li>
        <li>{{news.description}}</li>
        <li>{{news.category}}</li>
        <li>{{news.country}}</li>

        <li>{{news.url}}</li>
    {% endfor %}
</ul>
